/* Định dạng slideshow */
.slideshow-container {
    max-width: 100%;
    height: 100%; /* Để khớp với chiều cao của .menu1 */
    position: relative;
    margin: auto;
    overflow: hidden;
}

.slide {
    display: none;
    height: 100%; /* Để khớp chiều cao với container */
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Sử dụng cover để ảnh lấp đầy mà không bị biến dạng */
    display: block;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}


